*,
*::before,
*::after {
    box-sizing: border-box;
}
/* body html styling */
html{
    height: 100%;
}
body {
    height: 100%;
    font-family: Arial, Helvetica, sans-serif;
    background-color: lightblue;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

main {
    margin: 0 auto;
    width: auto;
    max-width: auto;
    background-color: white;
    padding: 10px 2rem;
    border-radius: rem;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.677);
}

h1 {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}
